@page { margin: 0cm;
        size: A4;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: justify;
    font-size: 10px;
    font-family: tahoma;
    direction: rtl;
}

table, td
{
    text-align: justify;
    font-size: 12px;
}

.break
{
    page-break-after: always;
}

.barcodetext
{
    color: #000000;
    text-decoration: none;
    letter-spacing: .3em;
    font-weight: bold;
    font-size: 8px;
    font-family: arial, Helvetica, sans-serif;
}

h3
{
    text-align: justify;
    font-size: 14px;
    font-family: Tahoma;
    direction: rtl;
}

.tableheader
{
    padding-bottom: 2px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #999999;
    background-color: #CCCCCC;
    font-weight: bold;
}

.tablerows
{
    margin: 0px;
    padding: 0px;
    border: 1px solid #C0C0C0;
}

.border
{
    margin: 0px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.hardborder
{
    margin: 0px;
    padding: 0px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.smaller
{
    font-size: 8px;
}
.printpassword
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: 19px;
}

.grid td,.grid th, .gridFirstColumn, .gridEvenClass, .gridOddClass
{
    padding: 2px;
    border: 1px solid #000000;
}
.header
{
    font-weight: bolder;
    border: 1px solid #000000;
    text-align: center;
    padding: 0px;
    background-color: #CCCCCC;
}