.my_pakage {
  background: #f4f9fe;
  padding-bottom: 1rem;
  width: 100%;

  .swiper {
    &-slide::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #f4f9fe;
      opacity: 0.6;
      border-radius: 10px;
      top: 0;
      left: 0;
    }
    &-slide-active {
      box-shadow: 0px 0px 9px 9px #d5dde3;
      border-radius: 10px;
    }
    &-slide-active::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 10px;
      top: 0;
      left: 0;
    }

    .img {
      overflow: hidden;
      max-width: 316px;
      max-height: 321px;
      cursor: pointer;

      img {
        width: 316px;
        height: 321px;
        border-radius: 10px;
        position: relative;
      }
    }
  }
}
