.dialog {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.dialog .img {
    overflow: hidden;
    flex-basis: 50%;
    width: 50%;
    height: 370px;
    padding: 0.7rem 0 0 0;
    position: relative;
    text-align: center;
    border-radius: 5px;
}
.dialog .img .img_content {
    position: absolute;
    width: 100%;
    top: 11px;
    height: 100%;
    border-radius: 5px;
    opacity: 0.5;
    color: #fff;
    background: #000;
}
.dialog .img .content_1 {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 2rem auto;
    color: #fff;
}
.dialog .content h1 {
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.dialog .img div h1 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.dialog .img div p {
    font-size: 0.9rem;
}
.dialog .img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.dialog .content {
    flex-basis: 50%;
    height: 90%;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    width: 100%;
}
.dialog .content .download {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 18rem;
    margin: 0 auto;
}
.dialog .content .download img {
    width: 12rem;
    border-radius: 5px;
    height: 2.5rem;
}
.dialog .content .download div {
    margin: 0 0.5rem 0 0.5rem;
}
.dialog .content p {
    font-weight: bold;
    margin-bottom: 1.7rem;
    padding-left: 1.5rem;
}
.dialog .content hr {
    margin-bottom: 1rem;
}
.dialog .content p span {
    font-size: 0.9rem;
    opacity: 0.5;
    margin-left: 1rem;
}
/* @media screen and (max-width: 960px) {
} */
@media screen and (max-width: 960px) {
    .dialog .img {
        flex-basis: 97.5%;
        height: 9rem;
        width: 100%;
    }
    .dialog .img img {
        height: 30rem;
    }

    .dialog .content {
        flex-basis: 100%;
        padding: 0.5rem;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 600px) {
    .dialog {
        min-height: 30rem;
    }
    .dialog .content p {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }
    .dialog .content hr {
        margin-bottom: 0rem;
    }
    .dialog .content h1 {
        padding-left: 0.5rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 340px) {
    .dialog .content .download {
        flex-direction: column;
    }
    .dialog .content .download img {
        width: 9rem;
        border-radius: 5px;
        height: 2.5rem;
    }
    .dialog .content .download div {
        margin-top: 0.5rem;
    }
}
