.footer {
    width: 100%;
    background: #394959;
    margin-top: -1rem;
}
.footer .footer_2 {
    background: #334250;
    width: 100%;
}
.footer_2 .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
    color: #fff;
    opacity: 0.69;
}
.footer_2 .icon {
    background: #bbc2cb;
    color: #5b6065;
    width: 27px;
    height: 27px;
    margin-left: 0.2rem;
    padding: 0.2rem;
    border-radius: 50%;
    transition: all 0.3s;
}
.footer_2 .icon:hover {
    background: #2f3d49;
    color: #000;
}
.footert_content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.content {
    flex-basis: 33.33%;
    width: 100%;
    font-size: small;
    color: #fff;
}
.content img {
    width: 10rem;
    height: 2.5rem;
    margin: 1.7rem 0;
}

.content p {
    opacity: 0.69;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.7;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0.5rem auto;
    padding: 0 18rem 0 1.5rem;
}
.links a:first-child {
    color: #387cff;
}
.links a:last-child {
    text-decoration: underline;
    color: #fff;
    opacity: 0.69;
    font-size: 0.9rem;
}
