.totorial .swiper-slide {
    text-align: center;
    background: #f4f9fe;
    width: 310px !important;
    height: 400px !important;
    margin-left: 1.5rem;
    box-shadow: 0 7px 22px 0 rgb(57 73 89 / 30%);
    border-radius: 12px;
}
.totorial .swiper-slide img {
    border-radius: 12px;
}

.totorial .swiper {
    width: 100%;
    height: 450px !important;
    margin: 20px auto;
    padding: 1rem 1.3rem 0 0;
}
