.tutorial {
    width: 100%;
    background: #f4f9fe;
    padding: 2rem 0;
    color: #394959;
}
.tutorial h1 {
    font-size: 2rem;
    margin: 2rem;
}
.tutorial p {
    font-weight: 400;
    max-width: 504px;
    padding: 0 0.75rem;
    margin: 1rem auto;
}

.tutorial .slider {
    max-width: calc(100vw - ((100vw - 960px) / 2));
    margin: 4rem 0 0 auto;
    position: relative;
}
.tutorial .slider::after {
    content: "";
    top: 0;
    left: -3px;
    position: absolute;
    width: 23px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 2%, #f4f9fe);
    z-index: 1;
}
.tutorial .slider .img_1 {
    position: absolute;
    top: -56px;
    left: -54px;
    transform: rotate(180deg);
}
.tutorial .slider .text_img {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background: #fff;
    border-radius: 12px;
}
.tutorial .slider .text_img button {
    position: absolute;
    bottom: 12px;
    left: 12px;
}
.tutorial .slider .text_img h3 {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 1.3rem;
}
