@font-face {
    font-family: "iran-sans";
    src: url("./assets/fonts/Sansa4fran3.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Sansa4fran3.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/Sansa4fran3.woff") format("woff"),
        /* Pretty Modern Browsers */ url("./assets/fonts/Sansa4fran3.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./assets/fonts/Sansa4fran3.svg") format("svg"); /* Legacy iOS */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* swiper pagination styles */
.swiper-pagination span {
    background: #000;
    margin-right: 0.3rem;
    padding: 0.3rem;
    border: 3px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.swiper-pagination span::after {
    content: "";
    background: transparent;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    top: -12%;
    left: -11%;
    width: 12px;
    height: 12px;
}

/* tailWind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
